{% extends 'base.html.twig' %}

{% block title %}DataBase{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/wamp64/www/SquadBuilder/src/Controller/DatabaseController.php</code></li>
        <li>Your template at <code>C:/wamp64/www/SquadBuilder/templates/database/index.html.twig</code></li>
    </ul>

    <button class="btn btn-primary" id="importDataBtn" type="button">Importer Factions et Pilotes</button>
    <div id="responseMessage"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

    console.log(document.getElementById('importDataBtn'))

    document.getElementById('importDataBtn').addEventListener('click', function() {
        
        console.log("importation factions...")

        axios.get("{{ path('app_import_factions') }}")
            .then(response => {
                console.log('Factions importées :', response.data);
                
                document.getElementById('responseMessage').innerHTML = 'Factions: ' + response.data;
            })
            .catch(error => {
                console.error('Erreur import factions:', error);
                document.getElementById('responseMessage').innerHTML = 'Erreur lors de l\'importation des factions.';
            })
            .finally(() => {
                
                console.log("importation pilots...")
                axios.get("{{ path('app_import_pilots') }}")
                    .then(response => {
                        console.log('Pilotes importés :', response.data.message);
                        document.getElementById('responseMessage').innerHTML += '<br>Pilotes: ' + response.data.message;
                    })
                    .catch(error => {
                        console.error('Erreur import pilotes:', error);
                        document.getElementById('responseMessage').innerHTML += '<br>Erreur lors de l\'importation des pilotes.';
                    });
            });
    });

</script>
{% endblock %}
