{% extends 'base.html.twig' %}

{% block title %} Binary Deployment Squadron Manager {% endblock %}

{% block body %}
<style>

</style>

<div class="container-fluid p-0 h-100">
    <div class="d-flex h-100 m-3 justify-content-between align-items-center">
        <!-- Squad Builder -->
        <a href="{% if app.user %}{{ path('app_squad_builder') }}{% else %}{{ path('app_auth', {redirect: 'squad_builder'}) }}{% endif %}" 
        class="hover-link position-relative flex-grow-1 d-flex w-50 h-100 overflow-hidden text-decoration-none">
            <img src="/assets/artworks/SB-art.jpg" class="im-link artwork w-100 h-100" alt="Squad Builder">
            <h1 class="position-absolute top-50 start-50 translate-middle text-decoration-underline text-neon">SQUAD BUILDER</h1>
        </a>


        <!-- Séparateur vertical -->
        <div class="vertical-separator mx-3"></div>

        <!-- Database -->
        <a href="{{ path('app_database') }}" class="hover-link position-relative flex-grow-1 d-flex w-50 h-100 overflow-hidden text-decoration-none">
            <img src="/assets/artworks/DB-art.jpg" class="im-link artwork w-100 h-100" alt="Database">
            <h1 class="position-absolute top-50 start-50 translate-middle text-decoration-underline text-neon">DATABASE</h1>
        </a>
    </div>
</div>



{% endblock %}

